/* file name: about.css */

#about-page {
    display: flex;
    justify-content: center;
}

.about {
    max-width: 800px; /* Set a maximum width for the content */
    text-align: left;
    margin: 0 auto; /* Center the content */
}

#title {
    text-align: center;
	justify-content: center;
	padding-bottom: 80px;
}

#github-link{
	text-decoration: none;
}

#github-link:hover{
	text-decoration: none;
	color: #6474ed;
}
.dev-profile-pic {
    width: 100px;
    height: 100px;
    background-color: inherit;
}

.developers {
    margin-top: 20px; /* Adjust as needed */
}

.developer {
    font-weight: bold; /* Make developer names bold */
    color: #09f; /* Change the color as needed */
}

.developers-squares {
    /* Add styles for the developers-squares if needed */
}

p {
    max-width: 100%; /* Make sure the text doesn't extend beyond its container */
}

.legal {
    margin: 3% 10% 3% 8%;
}

.legal li {
    margin-left: 1%;
}

.heading {
    padding-top: 20px;
}

/* FAQ CSS */

.faq {
    text-align: left;
    margin-left: 8%;
    padding-bottom: 4%;
}

.faq h2 {
    margin-top: 5%;
}

@keyframes bounce-rotate {
	0% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(120deg);
	}
	60% {
		transform: rotate(80deg);
	}
	40% {
		transform: rotate(100deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@keyframes bounce-rotate-back {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.f-triangle {
	width: 7px;
	height: 7px;
	margin-right: 20px;
	fill: #09f;
	transition: .2s;
}
.accordion.js .accordion-content {
	display: none;
}
.accordion {
	h3 {
		margin-top: 3%;
		padding-top: 2%;
		
		.accordion-toggle {
			cursor: pointer;


			&.open {
				.f-triangle {
					animation: bounce-rotate 1s forwards;
				}
			}
			&.closed {
				.f-triangle {
					animation: bounce-rotate-back .2s forwards;
				}
			}
		}
	}
}

.accordion-content {
	margin-left: 5%;
}