#admin-exchange-pairs-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .admin-exchanges-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .admin-exchanges-table th,
  .admin-exchanges-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
  }
  
  .admin-exchanges-table th {
    background-color: #f2f2f2;
  }
  
  .admin-exchange-pairs {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
  }
  
  .admin-exchange-pairs h4 {
    margin-bottom: 10px;
  }
  
  .admin-exchange-pairs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .admin-exchange-pairs-table th,
  .admin-exchange-pairs-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
  }
  
  .admin-exchange-pairs-table th {
    background-color: #f2f2f2;
  }
  
  .admin-exchange-pairs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .admin-exchange-pair {
    width: 200px; /* Adjust the width as needed */
    margin: 10px;
  }
  
  .admin-exchange-pair h4 {
    margin-bottom: 10px;
  }
  
  
  .admin-exchange-pairs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .admin-exchange-pairs-table th,
  .admin-exchange-pairs-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
  }
  
  .admin-exchange-pairs-table th {
    background-color: #f2f2f2;
  }
  
  
  .admin-events-list {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-events-list li {
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .admin-action-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 8px 15px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .admin-action-button:hover {
    background-color: #0056b3;
  }
  
  .admin-exchange-pairs {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
  }
  
  .admin-exchange-pairs h4 {
    margin-bottom: 10px;
  }
  
  .admin-exchange-pairs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .admin-exchange-pairs-table th,
  .admin-exchange-pairs-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
  }
  
  .admin-exchange-pairs-table th {
    background-color: #f2f2f2;
  }
  
  .pairs-h3{
    padding-top: 100px;
    padding-bottom: 50px;

