/* Universal Code */
li {
    list-style: none;
}
body {
    transition: background-color 0.5s ease;
    background-color: #E8EFFC;
}

/* Classes In Upcoming Events JS */
.upcoming-container {
    margin: 10px;
    align-items: center;

}
.future-img{
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(88, 24, 1, 0.2);
    max-height: 350px;
    margin: 10px 20px 20px 10px;
    object-fit: cover;
    padding: 2px;
    width: 100%;
    
}
.days-until{
    text-shadow: .1px .5px 2px rgba(0, 0, 0, 0.576);    
    margin: 10px 10px 20px 10px;
}


/* Classes In All Events JS */
  
/* .light-mode {
background-color: #FFFAEB;;
color: #000000;
}

.dark-mode {
background-color: #000000;
color: #ffffff;
} */
  
/* 
        BRAND COLORS
#276BE5 
-main color
#6474ED 
-button color 
#A4C1F4 
-accent color
#E8EFFC 
-background color
#EDBB64 
-accent color 2 / button style backup
#ED6495 
-accent color 3
*/
.hero-img {
    padding: 150px 20px 100px 2px;
    /* Might change the image I kind of like the repeat*/
    background-size: 200px 2px;
    /* background-size: cover; */
    overflow: scroll;
    background-image: url('https://i.pinimg.com/750x/2e/4b/67/2e4b679ed51d646f102a6dfd3107aef2.jpg');
}

.introduction {
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    /* which background color for the text is better? */
/* color 1 */
    /* background-color: #A4C1F4;
    border-bottom: 20px solid #A4C1F4;
    border-top: 20px solid #A4C1F4;
    border-right: .15em solid #A4C1F4;  */
/* color 2 */
    background-color: #EDBB64;
    border-bottom: 20px solid #EDBB64;
    border-top: 20px solid #EDBB64;
    border-right: .15em solid #EDBB64; 
    /*  */
    font-family: Georgia;
    font-size: 55px;
    letter-spacing: .04em;
    margin: 30px auto; 
    overflow: hidden; 
    white-space: nowrap; 
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #EDBB64; }
    /* 50% { border-color: #A4C1F4; } */
}

@media screen and (min-width: 1030px) and (max-width: 1212px) {
    .introduction {
        font-size: 46px; 
        border-bottom: 10px solid #EDBB64;
        border-top: 10px solid #EDBB64;
        border-right: 0.1em solid #EDBB64;
        margin: 10px auto; 
    }

}
@media screen and (min-width: 927px) and (max-width: 1029px) {
    .introduction {
        font-size: 42px; 
        border-bottom: 10px solid #EDBB64;
        border-top: 10px solid #EDBB64;
        border-right: 0.1em solid #EDBB64;
        margin: 10px auto; 
    }

}
@media screen and (max-width: 926px) {
    .introduction {
        font-size: 30px; 
        border-bottom: 10px solid #EDBB64;
        border-top: 10px solid #EDBB64;
        border-right: 0.1em solid #EDBB64;
        margin: 10px auto; 
    }

}
@media screen and (max-width: 662px) {
    .introduction {
        font-size: 20px; 
        border-bottom: 10px solid #EDBB64;
        border-top: 10px solid #EDBB64;
        border-right: 0.1em solid #EDBB64;
        margin: 10px auto; 
    }

}
@media screen and (max-width: 446px) {
    .introduction {
        font-size: 15px; 
        border-bottom: 10px solid #EDBB64;
        border-top: 10px solid #EDBB64;
        border-right: 0.1em solid #EDBB64;
        margin: 10px auto; 
    }

}

.event-type{
    color: #000;
    font-family: Georgia;
    font-size: 4rem;
    margin: 70px 5px 20px 5px;
    text-shadow: 2px 7px 6px rgba(44, 46, 107, 0.449);    

}
.event-title {
    color: #276BE5;
    font-size: 34px;
    /* font-style: oblique; */
    margin: 25px 5px 5px 5px;
    text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.313);    
}

.current-container{
    flex-direction: column;
}
.card{
    background-color: #00818f00;
    border: none;
}
.upcoming-container, .current-container{
    display: flex;
    width: auto;
}

/* Classes in Current Event JS */
.current-img{
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
    max-height: 600px;
    margin: 30px 10px 10px 10px ;
    object-fit: cover;
    /* object-position: 50% 50%; */
    /* padding: 10px; */
    width: 80%;
}

.description{
    color: #000;
    font-family: Georgia;
    font-size: 1.5rem;
    margin: 0px 0px 5px 0px;
    text-wrap: wrap;
    overflow: scroll;
    /* width: 100%; */
    text-align: center;
}
.price-title, .price{
    color: #6474ED;
    padding: 0px 10px 0px 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.576);    
}
.price{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.collapse-details{
    min-height: 250px;
    width: 600px;
    border: 1px dotted rgba(0, 0, 0, 0.111);
    margin: 5px 100px 5px 100px;
}
.collapse-toggle {
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
    color: #ED6495;
    font-size: 23px;
    margin: 25px 5px 5px 5px;
}
.collapse-toggle:hover {
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
    color: #000;    
    cursor: pointer;
    font-size: 25px;
}

.details-CEheader{
    color: #ED6495;
    font-size: 25px;
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
}
.details-CE{
    color: #000;
    font-size: 23px;
    margin: 5px; 
}
.details-CE-container{
    margin: 5px 85px 5px 85px;
}
.timeline {
    color: #276BE5;
    margin: 5px;
}
.deadline{ 
    color: red;
    font-size: 27px;
    letter-spacing: .06em;
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    

}


