/* Universal Code */
li {
    list-style: none;
}
body {
    transition: background-color 0.5s ease;
}

/* Classes In Upcoming Events JS */
.future-img{
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(88, 24, 1, 0.2);
    max-height: 350px;
    margin: 10px 10px 0 10px;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    
}

/* Classes In All Events JS */
  
  .light-mode {
    background-color: #FFFAEB;;
    color: #333;
  }
  
  .dark-mode {
    background-color: #545454;
    color: #FFFAEB;;
  }
  
h2 {
    color: #00818F;
    font-family: Georgia;
    font-size: 4rem;
}
.current-container{
    flex-direction: column;
}
.card{
    background-color: #00818f00;
    border: none;
}
.upcoming-container, .current-container{
    display: flex;
    width: auto;
}

/* Classes in Current Event JS */
.current-img{
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
    max-height: 600px;
    margin: 30px 10px 30px 10px ;
    object-fit: cover;
    /* object-position: 50% 50%; */
    /* padding: 10px; */
    width: 80%;
}
.collapse-details{
    min-height: 250px;
    width: 600px;
}
.collapse-toggle {
    color: #00818F;
    font-size: 23px;
}
.collapse-toggle:hover {
    cursor: pointer;
    font-size: 25px;
}

.details-CEheader{
    color: #e66
}
.details-CE{
    /* background-color: rgba(200, 132, 50, 0.982); */
    font-weight: bold;
}
.details-CE-container{
    /* background-color: #00818F; */
}

