/* 
        BRAND COLORS
#276BE5 
-main color
#6474ED 
-button color 
#A4C1F4 
-accent color
#E8EFFC 
-background color
#EDBB64 
-accent color 2 / button style backup
#ED6495 
-accent color 3
*/


/* Classes In Upcoming Events JS */

.upcoming-container {
    /* align-items: center; */
    margin: 10px 10px 80px 10px;
    width: auto;
}

.future-img{
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(88, 24, 1, 0.2);
    margin: 10px 20px 20px 10px;
    max-height: 350px;
    object-fit: cover;
    padding: 2px;
    max-width: 600px;
}
.days-until{
    font-size: 30px;
    margin: 10px 10px 20px 10px;
    text-shadow: .1px .5px 2px rgba(0, 0, 0, 0.576);    
}
@media screen and (min-width: 2000px) {
    .future-img{
        border-radius: 20px;
        box-shadow: 12px 12px 2px 1px rgba(88, 24, 1, 0.2);
        margin: 10px 20px 20px 10px;
        max-height: 350px;
        object-fit: cover;
        padding: 2px;
        max-width: 600px;
    }

}
@media screen, (min-width: 970px) and (max-width: 1300px){
    .event-type{
        font-size: 20px;
    }
    .upcoming-container {
       
    }
    
    .future-img{
       
    }
}
@media screen and (max-width: 970px){
    .upcoming-container {
        display: flex;
        flex-direction: column;
        margin: 10px 5px 60px 5px;
        text-align: center;
        width: auto;
    }
    
    .future-img{
        border-radius: 20px;
        box-shadow: 12px 12px 2px 1px rgba(88, 24, 1, 0.2);
        max-height: 350px;
        object-fit: cover;
        /* padding: 2px; */
        /* max-width: 500px; */
        text-align: center;
        width: 100%;
    }
}

/* Classes In All Events JS */
   
.hero-img {
    background-image: url('https://i.pinimg.com/750x/2e/4b/67/2e4b679ed51d646f102a6dfd3107aef2.jpg');
    /* Might change the image I kind of like the repeat*/
    /* background-size: 200px 2px; */
    background-size: cover;
    overflow: scroll;
    padding: 150px 0px 100px 0px;
}

.introduction {
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    /* which background color for the text is better? */
/* color 1 */
    /* background-color: #A4C1F4;
    border-bottom: 20px solid #A4C1F4;
    border-top: 20px solid #A4C1F4;
    border-right: .15em solid #A4C1F4;  */
/* color 2 */
    background-color: #EDBB64;
    border-bottom: 20px solid #EDBB64;
    border-top: 20px solid #EDBB64;
    border-right: .5em solid #EDBB64; 
    font-size: 60px;
    letter-spacing: .04em;
    /* margin: 30px auto;  */
    overflow: hidden; 
    white-space: nowrap; 
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #EDBB64; }
    /* 50% { border-color: #A4C1F4; } */
}

.event-type{
    color: #000;
    font-size: 4rem;
    margin: 50px 5px 10px 5px;
    text-shadow: 2px 3px 6px rgba(44, 46, 107, 0.449);    
}
.event-title {
    color: #276BE5;
    font-size: 34px;
    /* font-style: oblique; */
    margin: 25px 5px 5px 5px;
    text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.313);    
}

.current-container{
    flex-direction: column;
}
.card{
    background-color: #00818f00;
    border: none;
}
.upcoming-container, .current-container{
    display: flex;
    list-style: none;
    width: auto;
}

@media (min-width: 446px) and (max-width: 662px)  {
    .introduction {
        font-size: 20px; 
    }
    .event-title {
        font-size: 30px;
    }
    
}
@media (min-width: 662px) and (max-width: 926px) {
    .introduction {
        font-size: 30px; 
    }
    .event-title {
        font-size: 30px;
    }
}
@media (min-width: 927px) and (max-width: 1349px) {
    .introduction {
        font-size: 30px; 
    }
    li > .event-title{
        font-size: 20px;
    }
}
@media (min-width: 1349px) and (max-width: 1500px) {
    .introduction {
        font-size: 40px; 
        border-right: 0.1em solid #EDBB64;
    }
    li > .event-title{
        font-size: 25px;
    }

}


/* Classes in Current Event JS */

.current-img{
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
    max-height: 800px;
    margin: 30px 10px 30px 10px ;
    object-fit: cover;
    /* object-position: 50% 50%; */
    /* padding: 10px; */
    /* max-width: 500px; */
    width: 100%;
}
.current-img:hover{
    /* text-rendering: geometricPrecision; */
    max-height: 800.5px;
}
.container{
    /* margin: 10px; */
    position: relative;
    text-align: center;
    /* color: white; */
}
.join-now {
    background-color: #276BE5;
    border-radius: 10px;
    color: #E8EFFC;
    font-family: 'DM serif display';
    font-size: 40px;
    font-weight: 600;
    left: 50%;
    letter-spacing: 3px;
    padding: 10px 20px 20px 20px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translate(-50%, -55%);
}
.join-now:hover{
    background-color: #E8EFFC;
    border: 1px solid #E8EFFC;
    border-radius: 10px;
    color: #276BE5;
    font-size: 50px;
    font-weight: 600;
    left: 50%;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
}
.join-now:focus{
    background-color: #276BE5;
    border-radius: 10px;
    color: #E8EFFC;
    /* font-size: 60px; */
}

.description-CE-container{
    background-color: #ffffffce;
    box-shadow: 1px 1px 2px 2px rgb(146, 140, 138);
    letter-spacing: .02em;
    margin: 8px 85px 5px 85px;
    padding: 35px;
    word-spacing: 1px;
}
.description-CE-container:hover{
    background-color: #ffffffc5;
    box-shadow: 1px 1px 2px 2px rgb(146, 140, 138);
    margin: 7px 85px 7px 85px;
}
.description{
    color: #000;
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .07em;
    margin: 5px 0px 5px 0px;
    /* overflow: scroll; */
    text-align: start;
    text-wrap: wrap;
    /* width: 40%; */
}
.description-price-title{
    font-family: 'DM serif display';
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: .06em;
}
.description-event-title{
    font-weight: 400;
    letter-spacing: .06em;
    margin-top: 15px;
    text-align: start;
}
.price-title{
    letter-spacing: .099em;
}
.price-title, .price{
    color: #6474ED;
    padding: 0px 10px 0px 0px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.576);    
}
.price{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.collapse-details{
    /* border: 1px dotted rgba(0, 0, 0, 0.111); */
    margin: 5px 100px 5px 100px;
    min-height: 250px;
    width: 600px;
}
.collapse-toggle {
    /* color: #ED6495; */
    color: #6474ED;
    font-size: 23px;
    font-weight: 500;
    margin: 25px 5px 5px 5px;
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
}
.collapse-toggle:hover {
    color: #000;    
    cursor: pointer;
    font-size: 25px;
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
}

.details-CEheader{
    color: #ED6495;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .06em;
    text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);  
    text-align: start;
}
.details-CE{
    color: #000;
    font-size: 23px;
    margin-left: 8px;
    text-align: start;
}
.timeline {
    color: #6474ED;
    letter-spacing: .03em;
    margin: 5px;
}
.deadline{ 
    color: red;
    font-size: 27px;
    letter-spacing: .02em;
    text-shadow: 0 1px 1px rgba(99, 33, 54, 0.824);   
}

@media screen and (max-width: 1000px){
    .current-img{
        border-radius: 20px;
        box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
        max-height: 700px;
        object-fit: cover;
        width: 100%;
    }
    .current-img:hover{
        max-height: 705px;
    }
    .collapse-details{
        border: 1px dotted rgba(0, 0, 0, 0.111);
        margin: 5px 10px 5px 10px;
        min-height: 250px;
        width: 600px;
    }
    .collapse-toggle {
        color: #6474ED;
        font-size: 23px;
        font-weight: 500;
        margin: 5px 5px 5px 5px;
        text-shadow: 0 1px 1px rgba(190, 88, 121, 0.492);    
    }
    .description-CE-container{
        margin: 8px;
        padding: 10px;
        word-spacing: 3px;
    }
    .description-CE-container:hover{
        margin: 8px;
        padding: 10px;
        word-spacing: 3px;
    }
    .description{
        margin: 5px;
    } 
    .timeline {
        color: #6474ED;
        font-size: 18px;
        letter-spacing: .03em;
        margin: 5px;
    }
    .details-CE{
        color: #000;
        font-size: 18px;
        margin-left: 8px;
        text-align: start;
    }
    .join-now {
        background-color: #E8EFFC;
        border-radius: 10px;
        color: #276BE5;
        font-size: 25px;
        font-weight: 600;
        left: 50%;
        padding: 5px;
        position: absolute;
        text-decoration: none;
        top: 50%;
        transform: translate(-50%, -55%);
    }
    .join-now:hover{
        background-color: #276BE5;
        border-radius: 10px;
        color: #E8EFFC;
        font-size: 29px;
        font-weight: 600;
        left: 50%;
        padding: 5px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -55%);
    }
    .join-now:focus{
        background-color: #276BE5;
        color: #E8EFFC;
    } 
}
@media (min-width: 1000px) and (max-width: 1400px) {
    .current-img{
        border-radius: 20px;
        box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
        max-height: 600px;
        /* object-fit: cover; */
        max-width: 900px;
    }
    
    .current-img:hover{
        max-height: 600px;
        max-width: 900px;
    }
    .timeline {
        color: #6474ED;
        font-size: 19px;
        letter-spacing: .01em;
        margin: 5px;
    }
    .details-CE{
        color: #000;
        font-size: 18px;
        margin-left: 8px;
    }
    .deadline{
        font-size: 25px;
    }
}
@media (max-height: 1000px) and (max-width: 2000px) {
    .current-img{
        border-radius: 20px;
        box-shadow: 1px 1px 2px 2px rgba(26, 22, 20, 0.246);
        max-height: 800px;
        /* object-fit: cover; */
        max-width: 1500px;
    }
    .current-img:hover{
        max-height: 800px;
        max-width: 1505px;
    }
    
}

/* Events Sign Up */

.event-signup-container {
    align-items: center;
    background: linear-gradient(
        to top, 
        #788cb3 0%,
        #09676f6d 10%,
        #09676f6d 35%,
        #2d3f75 60%, 
        #2357b8 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.section-header{
    color: #ED6495;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(32, 27, 28, 0.492);    
}

.signup-form{
    /* background-color:#E8EFFC; */
    color: #276BE5;
    text-align: start;
    width: 80%;
}
.signup-form input {
    background-color: #A4C1F4;
    border: 2px solid;
    padding: 10px;
    margin: 15px;
    width: 300px;
    height: 03%;
    /* display: inline; */
}
#duplicate {
    background-color: #A4C1F4;
    border: 2px solid;
    margin: 10px 10px 10px 20px;
    width: 70px;
    height: 40px;
}
.signup-form label{
    color: #000;
    font-size: 22px;
    margin: 25px;
}
#clothes{
    width: 20%;
}

.welcome{
    color:#E8EFFC;
    margin: 10px;
}

.conclusion{
    font-size: 24px;
    margin: 20px 2px 20px 2px;

}
.intro-container {
    display: flex;
    /* align-items: center; */
}
  
.question-mark-icon {
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    /* margin-left: 8px; */
}
.bi-question-circle{
    fill: #A4C1F4;
    height: 40px;
    margin-left: 5px;
    margin-top: 16px;
    width: 30px;
}
.bi-question-circle:hover{
   fill: black;
}
.details-box {
    background-color: #ffffff25;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
}

.terms-container{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
}
#terms-checkbox{
    height: 20px;
    margin: 5px;
    padding: 10px;
    width: 20px;
}
.terms-text{
    font-weight: 500;
}
.rules-h3{
    color:#276BE5;
    margin: 20px;
    text-decoration: underline;
}
.rules-not{
    color: red;
    text-decoration:underline;
    font-weight: 600;
}
.rules{
    color:#000;
    font-size: 20px;
    list-style: decimal;
}
.confirm {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    width: auto;
}

  




/*
BRAND COLORS
#276BE5 
-main color
#6474ED 
-button color 
#A4C1F4 
-accent color
#E8EFFC 
-background color
#EDBB64 
-accent color 2 / button style backup
#ED6495 
-accent color 3
*/