@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');


.homepage-container {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: #545454;
  background-color: #e8effc;
}



.homepage-signup-link{
  padding-top: 10rem;
}

.title-slogan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6495ED;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.225);
  padding-bottom: 3.5rem;
}

.text-container {
  width: 70%; 
  padding-right: 20px; /* Add some space between text and image */
  padding-left: 15px;
  text-align: left; 
  color: white;
}

.h1-container {
  display: flex;
  text-align: left; 
  gap: 20px;

  font-family: 'Montserrat';

  padding-top: 5rem;
  padding-bottom: 3rem;

}

h1 {
  font-size: 60px;
}

.happiness-title,
.exchange-title {
  font-family: 'Montserrat';
}

.slogan {
  width: 90%;
  font-family: 'Montserrat';
  font-size: 32px;
}

.slogan-2 {
 padding-bottom: 2rem;
 width: 77%;
 color: white;
 font-family: 'Montserrat';
}

.image-container {
  width: 30%;
}


.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
}







.how-it-works-title {
  font-size: 46px;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #e8effc;
  font-family: 'Montserrat';
}

.how-it-works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center; 
  align-items: center;
}

.how-it-works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.step-container {
  width: 250px;
  min-height: 400px;
  min-width: 300px;
  margin: 20px;
  padding: 65px;
  background-color: white;

  border-radius: 5px;
  border: 1px solid #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-container img {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.step-container-title {
  font-size: 24px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
}

.step-container-text {
  font-size: 18px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem;
  padding-top: 15rem;
}

.signup {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  color: #545454;
  position: relative;
  border: 1.5px solid #545454;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  width: 375px;
}

.signup-h2-title{
  font-family: 'Montserrat';
  padding-top: 15px;
  padding-bottom: 10px;
}

.homepage-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-signup-link {
    color: white;;
    background-color: #6474ed;;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#main-signup-link {
  color: white;
  background: linear-gradient(to right, #ED6495, #FD85A1); 
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#main-signup-link:hover {
  color: #ED6495;
  background: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-color: #ED6495;
}



.homepage-signup-link:hover {
  color: #6474ed;;
  background: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-color: #6474ed;;
}

.gallery-container{
  padding-top: 15px;
}



@media (max-width: 768px) {
  .how-it-works-container {
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  .how-it-works {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
}

@media (max-width: 768px) {
  .title-slogan-container {
    padding-bottom: 2rem; 
  }

  .text-container {
    width: 100%;
    padding: 0 20px;
  }


  .image-container {
    width: 100%;
  }

  .image-container img {
    border-radius: 0; 
  }

  

}

@media (max-width: 768px) {
  .h1-container {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
}