.login-for-events-message{
  padding-top: 15rem;
  padding-bottom: 15rem;
}




.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0; 
    background-color: #e8effc;
  }
  
  .login-h1-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding-top: 2rem; 
  }
  
  .login-h1-container h1 {
    color: #6474ed;
    font-size: 36px; 
    font-weight: bold;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  }

  #logout {
    margin-top: 60px;
  }

  #google-login-button {
    width: 40px; 
    height: 40px; 
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 0.5rem 0;
    position: relative;
    flex: 1, 2;
    margin-right: 10px;
    margin-left: 0px;
  }
  
  #google-login-button:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  
  #google-login-button:active {
    background: #1669f2;
  }
  
  .google-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px; 
    height: 24px;
    background-color: #fff;
    background-image: url("../images/googli-icon.png");
    background-size: cover;
    border-radius: 50%;
  }
  

  .btn-text {
    display: none;
  }
  
  
  
  .logout-button {
    padding-top: 10px; 
  }
  
  .login-forum-container {

    height: 100%; 
    margin: 20px;
    padding: 20px;
    background-color: white;

    border-radius: 8px; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .login-h3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem; 
  }
  
  .login-h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; 
  }
  
  .password-input,
  .username-input {
    width: 100%; 
    padding: 0.5rem; 
    margin: 0.5rem 0; 
    border-radius: .5px; 
    border: 1px solid #545454;
  }
  
  .button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    flex: 1, 2;
    margin-right: -35px;
    margin-left: 5px;
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .button:hover {
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  

  #login-button {
    display: inline-block;
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    min-width: 20px;
  }
  
  #login-button:hover {
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  