 /* ... Modal CSS ... */

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    max-width: 400px; 
    width: 100%;
    z-index: 1000; /* Ensure the modal stays on top */
    border-radius: 8px;
  }
  
  .modal-content {
    background-color: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 10px 10px 1.8px .7px rgba(88, 24, 1, 0.2);
    width: 100%;
  }
  
  
  /* Login Container CSS */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8effc;
  }
  

  
  .logout-button {
    margin-top: 20px;
  }
  
  .google-btn {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 0.5rem 0;
    position: relative;
  }
  
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  
  .google-btn:active {
    background: #1669f2;
  }
  
  .google-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-image: url("../images/googli-icon.png");
    background-size: cover;
    border-radius: 50%;
  }
  
  .form-container {
    width: 100%;
  }
  
  

  .btn-text {
    display: none;
  }
  
  
  
  .logout-button {
    padding-top: 10px; 
  }
  
#login-forum-container{
    width: 350px;
    min-height: 400px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


  
  .login-h3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem; 
  }
  
  .login-h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; 
  }
  
  .password-input,
  .username-input {
    width: 100%; 
    padding: 0.5rem; 
    margin: 0.5rem 0; 
    border-radius: .5px; 
    border: 1px solid #545454;
  }
  
  .button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    flex: 1, 2;
    margin-right: -35px;
    margin-left: 5px;
    color: #fffaeb;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fffaeb;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .button:hover {
    color: #6474ed;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #6474ed;
  }
  

  #login-button {
    display: inline-block;
    color: #fffaeb;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fffaeb;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    min-width: 20px;
  }
  
  #login-button:hover {
    color: #6474ed;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #6474ed;
  }
  


  /* Closing "X" CSS*/
  #close-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  .close {
    top: 5px;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 10px;
  }
  
  .close:hover {
    color: #ff0000;
  }
  