

/* * {
    box-sizing: border-box;
  } */
  

/*   
  body {
    margin: 0;
    background: #ccc;
  } */
  
  .message {
    width: 210mm;

    margin: 20px auto;
    position: relative;
    align-content: flex-start;
    text-align: left;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;


    text-shadow: 1px 1px 1px black;
  }

  h2 {
    padding: 44px 0;
    text-align: center;
  }
  
  /* Your CSS below here */
  .message {

    
    /* background: 0 100% local, linear-gradient(to bottom, rgba(39, 117, 229, .9), #fff 20%, #fff 80%, rgba(219, 233, 251, .1 )); */
  
    border-top:15px solid #276BE5;
    border-bottom:15px solid #276BE5;
  }
  
  h1{
    background:url(../images/HELogo.svg);

    
  }