.navbar {
  background: #6495ED;
  display: flex;
  justify-content: space-between;
  padding: 9px;

  min-height: 75px;
  align-items: center;
  border-bottom: 2px solid transparent;
}

  
  .navbar-logo img {
    width: 160px;
    height: 100px; 
    background: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-login-link{
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-links a {
    color: #FFFAEB;
    text-decoration: none;
    margin: 0 20px;

  }
  
  .navbar-links a:hover {
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  
  }

  .navbar-links button:hover {
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-login-link, .navbar-events-link {
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-login-link {
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  
  .navbar-events-link {
    background: #6474ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  

  .navbar-middle-links-container {
    display: flex;
    align-items: center; 
  }
  
  #navbar-middle-links {
    display: flex;
    gap: 65px;
    margin-left: auto;
  }
  

  #events-middle-link{
    padding-left: 65px;
  }


  #navbar-middle-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  #navbar-middle-links a:hover {
    color: #6474ed;
  }
  

#navbar-logout {
  margin-right: 25px;
}


  #navbar-signup{
    padding: 7.5px 12px;
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  #navbar-signup:hover{
    padding: 7.5px 12px;
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  #navbar-profile-link {
    color: white;
    background-color: #6474ed;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  #navbar-profile-link:hover{
    color: #6474ed;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent; 
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  

  

  
  @media only screen and (max-width: 851px) {
    .navbar-middle-links {
      display: flex;
      flex-direction: row; 
      align-items: flex-start; 
      justify-content: space-between; 
    }
  
    #events-middle-link {
      display: block;
    }
  
    #hiw-middle-link,
    #about-middle-link {
      display: none;
    }
  
    #navbar-links {
      margin-left: auto; 
    }
  
    .navbar-links {
      display: flex;
      align-items: center;
    }
  
    #navbar-profile-link,
    #navbar-logout {
      margin-left: -10px; 
    }
  
    .navbar-middle-links {
      display: flex;
    }
  }
  