.navbar {
  background: linear-gradient(135deg, #6495ED, #7aa4ef, #90b3f2, #a6c2f4, #bcd1f7, #d2e0f9, #7aa4ef, #6495ED);
  display: flex;
  justify-content: space-between;
  padding: 9px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.225);
  min-height: 75px;
  align-items: center;
  border-bottom: 2px solid transparent;
}

  
  .navbar-logo img {
    width: 160px;
    height: 100px; 
    background: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    color: #FFFAEB;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    position: relative;
  }
  
  .navbar-links a:hover {
    color: #6474ed;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #6474ed;
  }
  
  .navbar-login-link, .navbar-events-link {
    padding: 10px 20px;
    border: 2px solid #FFFAEB;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-login-link {
    background: #6474ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-events-link {
    background: #6474ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  

