.navbar {
  background: #6495ED;
  display: flex;
  justify-content: space-between;
  padding: 9px;

  min-height: 75px;
  align-items: center;
  border-bottom: 2px solid transparent;
}

  
  .navbar-logo img {
    width: 160px;
    height: 100px; 
    background: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-login-link{
    color: white;
    background: #6474ed; 
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-links a {
    color: #FFFAEB;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    position: relative;
  }
  
  .navbar-links a:hover {
    color: #6474ed;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #6474ed;
  }

  .navbar-links button:hover {
    color: #6474ed;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #6474ed;
  }
  
  .navbar-login-link, .navbar-events-link {
    padding: 10px 20px;
    border: 2px solid #FFFAEB;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-login-link {
    background: #6474ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  
  .navbar-events-link {
    background: #6474ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  

  .navbar-middle-links-container {
    display: flex;
    align-items: center; 
  }
  
  .navbar-middle-links {
    display: flex;
    gap: 75px;
    margin-left: auto;
  }
  

  #events-middle-link{
    padding-left: 75px;
  }


  .navbar-middle-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-middle-links a:hover {
    color: #6474ed;
  }
  




  #navbar-signup{
    padding: 7.5px 12px;
  }

  @media only screen and (max-width: 600px) {
    .navbar-middle-links {
      display: flex;
      flex-direction: row; 
      align-items:flex-start; 
      justify-content: space-between; 
    }
  
    #events-middle-link {
      display: block;
    }
  
    #hiw-middle-link,
    #about-middle-link {
      display: none;
    }
  
    #navbar-links {
      margin-left: auto; 
    }
    .navbar-middle-links {
      display: flex;
    }

  }
