/* uploadModal.css */


.top-row {
    padding: 20px 0 0 20px;

}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin: 2% 15% 0 15%;
  }
  
label {
    align-self: flex-start;
    margin-bottom: 3px;
}
  
.thumbnail-image {
    max-width: 200px;
    max-height: 200px;
    /* margin-top: 8px; */
}

.thumbnail {
    text-align: center;
    margin-top: 20px;
  }
  
  .thumbnail h2 {
    margin-bottom: 10px;
  }
  
  .thumbnail-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;

}
  
.close-button:hover {
    color: #6474ed;
}

.button-right {
    float: right;
}


.info-box {
    position: relative;
    display: inline-block;
    margin-left: 8px;
}
  
.info-text {
    visibility: hidden;
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-box:hover .info-text {
    visibility: visible;
    opacity: 1;
}
  
  