.testing-pictures {
  padding-bottom: 15px;
}

.upload-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  width: 100%;
  z-index: 1000;
  /* Ensure the modal stays on top */
  border-radius: 8px;
}

.upload-modal-content {
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 10px 10px 1.8px .7px rgba(88, 24, 1, 0.2);
}

/* Upload Modal Header CSS */
#upload-modal-header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 1rem;
}


.thumbnail {
  text-align: center;
  margin-top: 20px;
}

.thumbnail h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.thumbnail-image {
  max-width: 25%;
  height: auto;
  margin-top: 10px;
  padding-bottom: 20px;
}


.upload-modal-title {
  font-size: 1.5rem;
  color: #333;
}

/* Upload Modal Close Button CSS */
.upload-modal-close {
  top: 5px;
  cursor: pointer;
  padding-top: 5px;
  margin-right: 20px;
  font-size: 30px;
}


.upload-modal-close:hover {
  color: #ff0000;
}


#upload-close-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}


/* Adjust the size of the modal with thumbnail */
.upload-modal-content.with-thumbnail {
  max-width: 700px; /* Set the desired width */
  max-height: 700px;
}

/* Adjust the size of the modal without thumbnail */
.upload-modal-content:not(.with-thumbnail) {
  max-width: 700px; /* Set the desired width */
  max-height: 700px;
}

#upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
}

.upload-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 20px;
}

.upload-input {
  width: 100%; /* Make the input full width */
  padding: 10px;
  margin: 0.5rem 0;
  border-radius: 2.5px;
  border: 1px solid #545454;
  margin-bottom: 10px;
}

#file-thumbnail-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure it takes the full width */
}

.thumbnail {
  text-align: center;
  max-width: 50%; /* Adjust the max-width based on your design */
}


/* Upload Form Container CSS */
#upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  padding-bottom: 30px;
}

/* Upload Form Input CSS */
#upload-form input {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border-radius: 2.5px;
  border: 1px solid #545454;
}

/* Upload Button CSS */
#upload-button {
  display: inline-block;
  color: white;
  background-color: #6474ed;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  min-width: 20px;
}

#upload-button:hover {
  color: #6474ed;
  background-color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


#upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Loading Text CSS */
#upload-loading-text {
  display: none;
  margin-top: 10px;
  color: #666;
}

/* Error and Success Message CSS */
#upload-error-message,
#upload-success-message {
  margin-top: 20px;
  text-align: center;
}

#upload-error-message {
  color: red;
}

#upload-success-message {
  color: green;
}

#upload-input {
  padding-bottom: 40px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .upload-modal-container {
    max-width: 100%;
  }
}
