
/* 
        BRAND COLORS
#276BE5 
-main color
#6474ED 
-button color 
#A4C1F4 
-accent color
#E8EFFC 
-background color
#EDBB64 
-accent color 2 / button style backup
#ED6495 
-accent color 3
*/
body {
    overflow-x: hidden;
}
                                                
/* Classes In All Profiles */
.webpage-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-between; 
    /* margin: 20px;  */
    padding-left: 0px;
    text-align: start;
    width: 100%;
}

.left-column {
    background-color: black;
    border-right: 1px solid #a4c1f46b;
    border: 2px solid black;
    flex: 0 0 auto;
    /* flex-direction: column; */
    text-align: center;
}
.left-column,
.right-column {
    /* display: flex; */
    /* flex-direction: column;  */
    /* box-sizing: border-box; */
    /* padding: 20px 10px 10px 10px; */
}
.right-column{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}
/* SideBar */
.menu-details {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 70px 10px;
}
.profile {
    padding: 0;
}
.sidebar-text, .sidebar-links {
    color: white;
    list-style: none;
    text-decoration: none;
    /* padding-top: 50px; */
}
.sidebar-icons{
    fill: #A4C1F4;
    margin: 16px;
    /* padding: 10px; */
}
.sidebar-text:hover{
    background-color: #a5acb838;
    border-radius: 30px;
}
.sidebar-text:hover, .sidebar-links:hover{
    color: #ED6495;
    cursor:pointer;
    /* fill: #ED6495; */
    list-style: none;
}

@media screen and (max-width: 768px) {
    .webpage-container {
      /* flex-direction: row;  */
    }
    .left-column,
    .right-column {
      margin-bottom: 10px; 
    }
    .menu-details {
        color: black;
    }
    .menu-details li {
        padding-top: 30px;
    }
}

/* Classes In Individual Profile */
.profile-header{
    max-height: 300px;
    min-height: 300px;
    /* display: flex; */
    /* flex-direction: column; */
}
.cover-pic{
    /* display: flex; */
    /* flex-direction: column; */
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
}

.profile-content{
    display: flex;
    /* border: 2px solid black; */
    /* justify-content: space-between;  */
    margin: 0 5% 0 5%; 
    /* padding-left: 0px; */
    /* text-align: start; */
    /* width: 100%; */
}

.bio-container-left{
    background-color: #E8EFFC;
    /* border: 1px rgba(0, 0, 0, 0.189) solid; */ 
    /* Idk if I like with border, shadow, or without anything more */
    /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.295); */
    border-radius: 100px 100px 0 0;
    display: flex;
    flex-direction: column;
    margin: -80px 5% 0 0;
    padding: 20px;
    /* height: 100%; */
    text-align: center;

}
.pfp-container {
    /* flex-direction: column; */
}
.pfp,
.pfp-uploaded {
    border-radius: 200px;
    height: 180px;
    margin: 0 0 30% 0;
    width: 180px;
    text-align: start;
}
.pfp { 
    background-color: #000000;
    border: 3px solid rgba(0, 0, 0, 0.147);
}

.username{
    font-size: 30px;
}
.bio-num{
    display: block;
    font-size: 30px;
}
.logo{
    width: 42px;
    height: 42px;
}
.logo-container{
    border: 2px solid ;

}

.posts-container-right{
    border: 5px dotted gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.posts-headings {
    border-bottom: 1px solid gray;
    display: flex;
    /* align-content: space-evenly; */
    justify-content:space-evenly;
    margin-left: 10%;
    width: 80%;
    /* flex-direction: column; */
}
#posts,
#interests {
    margin: 0 ;
    font-size: 20px;
}
.gifts-container {
    display: inline;
    /* flex-direction: column; */
}
.gifts {
    /* align-content: flex-start; */
    height: 200px;
    margin: 10px;
    width: 200px;
}
.interests-container {
    display: flex;
    justify-content: space-evenly;
    text-align: start;

}
.likes, 
.dislikes {
    display: inline-block;
    list-style: none;
}
.get-to-know{
    /* flex-direction: column; */
}
.achievements-title{
    /* text-align: start; */
}

@media (max-width: 695px) { 
    .profile-content{
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 1fr; */
    }
}