@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Display', 'Nunito', 'Merriweather'
}
h1,h2{
  font-family: 'DM Serif Display';
}
h3,h4,h5,h6{
  font-family: 'Nunito';
  font-weight: 300;
  color:black;
}
p{
  font-family: 'Merriweather';
}
.App {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

