@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');
/* Universal Code */

body {
  transition: background-color 0.5s ease;
  background-color: #E8EFFC;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

h1,h2,h3,h4,h5,h6{
  color:black;
}
p, li, ul{
  cursor:default;
}

.App {
  text-align: center;
}




/* 
        BRAND COLORS
#276BE5 
-main color
#6474ED 
-button color 
#A4C1F4 
-accent color
#E8EFFC 
-background color
#EDBB64 
-accent color 2 / button style backup
#ED6495 
-accent color 3
*/